<form align="top" name="new_task_form" method="get" action="/tasks/new">
  <label class="button">
    <input name="new_task" type="submit" id="new_task" value="Create New Task">
  </label>
</form>

<h3>Tasks:</h3>
  <div class = "tasks">
      <% Task.all.each_with_index do |e, i| %>
      <h4><%= i.next %>: <%= e.title  %></h4>
      <p>Due Date: <%= e.due_date %></p>
      <p>Notes: <%= e.content %></p>
      <form align="left" name="edit_task_form" method="get" action="/tasks/<%= e.id %>/edit">
        <label class="button">
          <input name="edit_task" type="submit" id="edit_task" value="Edit This Task">
      </label>
      </form>
      <form method="POST" action="/tasks/<%= e.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete This Task">
      </form>
      <br>
      <% end %>
  </div>

<form align="left" name="logout_form" method="get" action="/logout">
  <label class="button">
    <input name="logout" type="submit" id="submit" value="Log Out">
  </label>
</form>

